.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem 15fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "_header"
    "_main"
    "_footer";
}

.header {
  grid-area: _header;
}

.footer {
  grid-area: _footer;
}

.activity {
  width: 100%;
}
