// Colors
$color-primary: #415A77;
$color-primary-light: #778DA9;
$color-primary-dark: #23324e;

$color-secondary-light: #E0E1DD;
$color-secondary-dark: #0D1B2A;

$color-tertiary-light: #90e0ef;
$color-tertiary-dark: #023e8a;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
