// RESET
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-1: #443294;
  --color-2: #D3D8DF;
  --color-3: #354976;
  --color-4: #7C7A7A;
  --color-5: #FFFFFF;
}

html {
  // This defines what 1 rem is.
  font-size: 62.5%;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-4);
  overflow: hidden;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.main-div {
  display: flex;
  flex-direction: column;
  height: 100%;

  & button {
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
  }
}
