.app-header {
  //width: 100%;
  height: 8rem;
  background-color: var(--color-4);
  padding: 0.5rem 2rem;
  margin: 0rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  & .hdr-btn:hover {
    color: var(--color-4);
    cursor: pointer;
  }

  & .hdr-btn:active {
    color: white;    
  }

  &__title {
    font-size: 2rem;
    
    font-weight: lighter;
    color: var(--color-5);
  }

  &__nav {
    height: 6rem;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: var(--color-3);
    color: white;
    justify-items: center;
   
    & i {
        transform: scale(1.8);
        padding: 0 .5rem 0 2rem;
        margin:  2rem 0 0 0;
    }

    & span {
        padding: 0 2rem 0 2rem;
        margin: 0 2rem 0 0;
    }
  }

}