{{define "base"}}

<!DOCTYPE html>
<html id="html_tag" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GO Sass Test Project</title>
  <link rel="stylesheet" href="/html/css/styles.css" />
  <script src="https://unpkg.com/htmx.org@1.9.9"
    integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous">
    </script>
  <script src="https://kit.fontawesome.com/11545ec011.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="" x-data="test">
    <p  @click="onTestClick($event)">This is a test</p>
    <div class="">
      {{ template "layout" . }}
    </div>
  </div>
 
    
  <script src="/html/dist/main.js"></script>
</body>

</html>

{{ end }}
