{{define "layout"}}

<div id="app-container" class="container">
  <div class="header">{{ template "header" .}}</div>
  <div class="main">Main</div>
  <div class="footer">Footer</div>
</div>
{{ end }}
